<p style="color: green"><%= notice %></p>

<h1>Conversions</h1>

<div id="conversions">
  <% @conversions.each do |conversion| %>
    <%= render conversion %>
    <p>
      <%= link_to "Show this conversion", conversion %>
    </p>
  <% end %>
</div>

<%= link_to "New conversion", new_conversion_path %>
